
header{
    border: 1px solid;
    text-align: center;
    background: crimson;
    margin-bottom: 20px;
    font-size: 30px;
}

#home{
    text-align: center;
    font-size: 20px;
}

#home ul li{
    list-style: none;
}

footer{
    position: fixed;
    bottom: 0;
}

.card{
    border: 2px solid;
    border-radius: 20px;
    width: 150px;
    height: 200px;
    padding: 10px;
    position: relative;
}

.date{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 2px;
}

.title{
    text-align: center;
    font-size: 18px;
}


#wrapToday, #wrapFuture, #wrapPast{
    display: none;
}
#today, #futureWeek, #pastWeek{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-left: 30px;
    gap: 10px;
}

#noToday, #noFuture{
    font-size: 50px;
    font-weight: bold;
    color: crimson;
}

h2{
    text-align: center;
}

#label{
    position: fixed;
    display: block;
    margin: 10px;
    left: -13px;
    z-index: 2;
}

#label a{
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    padding-right: 20px;
    background: blue;
    color: white;
    width: 251px;
    transition: 0.5s ease;
}

#__today{
    position: absolute;
    top: 0;
    left: -250px;
}
#__future{
    position: absolute;
    top: 50px;
    left: -250px;
}
#__past{
    position: absolute;
    top: 100px;
    left: -250px;
}

#__today:hover, #__future:hover, #__past:hover{
    left: 0px;
    cursor: pointer;
}
