.card{
    border: 2px solid;
    border-radius: 20px;
    width: 150px;
    height: 200px;
    padding: 10px;
}

#today, #futureWeek, #pastWeek{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 10px;
}
#pastWeek{
    display: none;
}

#noToday, #noFuture{
    font-size: 50px;
    font-weight: bold;
    color: crimson;
}

h2{
    text-align: center;
}

#label{
    position: fixed;
    display: block;
    margin: 10px;
    left: -13px;
}

#label h2{
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    padding-right: 20px;
    background: blue;
    color: white;
    width: 251px;
    transition: 0.5s ease;
}

#__today{
    position: absolute;
    left: -250px;
}
#__future{
    position: absolute;
    top: 50px;
    left: -250px;
}
#__past{
    position: absolute;
    top: 100px;
    left: -250px;
}

#__today:hover{
    left: 0px;
}
#__future:hover{
    left: 0px;
}
#__past:hover{
    left: 0px;
}


